services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=easycar_db
      - POSTGRES_USER=easycar_user
      - POSTGRES_PASSWORD=easycar_password
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=easycar_db
      - DB_USER=easycar_user
      - DB_PASSWORD=easycar_password
      - DB_HOST=db
    depends_on:
      - db

volumes:
  postgres_data: